$theme-font: verdana, sans-serif;
$themeColor-Light: red;
$themeColor-Dark: white;
$para: black;

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark;
  }
  p {
  	color: $para;
  }
}